.loginFormSection, .registerFormSection  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #403D39;

}

.loginButtonArea, .registrationButtonArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #403D39;
}

#loginButton, #create-account-button, #registerButton {
    margin: 7px;
    color: #403D39;
}