.messageCard{
    background-color: cornsilk;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;

}
.message__Form{
    background-color: white;
}
.newMessage__Container{
    background-color: white;
}