.hideId {
    visibility: hidden;
}

.hidden {
    display: none;
}

#friendForm {
    background-color: gray;
}

.save__friend {
    background: #FF9F1C;
}

#toggle__friends {
    background: #FF9F1C;
}

.postedFriends__Selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    /* justify-content: center; */

}

.user__card {
    background-color: gray;
    text-shadow: 1px 1px 1px #000;
    color: firebrick;
    border-top: gray 3px solid;
    border-bottom: black 3px solid;
    border-left: gray 2px solid;
    border-right: black 2px solid;
    margin: 1px;
    overflow-wrap: break-word;
    max-width: 10vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.friend__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}