.hideId {
    visibility: hidden;
}

.hidden {
    display: none;
}

.postedFriends__Selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid; color: #403d39;

}

.user__card {
    background-color: #fffcf2;
   
}