@import "events.css";
@import "articles.css";
@import "friends.css";
@import "authentication.css";
@import "tasks.css";

body {
    background-color: #403D39;
}

.friend__container {
    display: flex;
    flex-direction: row;
}

#loginButton {
    background-color: #EB5E28;
}

#registerButton {
    background-color: #EB5E28;
}