@import "events.css";
@import "articles.css";
@import "friends.css";
@import "authentication.css";
@import "tasks.css";
@import "chat.css";


* {
    box-sizing: border-box;
}
.header__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 200px;
    margin-left: 30%
    
} 
.header img {
   
    float: left;
    width: auto;
    height: 120px;
    
  }
  
  .header h1 {
  
    margin-left: 15%;
    font-size: 80px;
    font-family:'Squada One', cursive;
    color: #FF9F1C;
    text-shadow: 1px 1px 1px #000;
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background-color: #FF9F1C;
    color: black;
}






/* .underHeader{
        
        background-color: red;
    } */
    /* .header{
        background-color: #403D39;
    }

    

    .underHeader__Top {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start; 
        padding: 10px;
        margin: 10px;
        background-color: #EB5E28;

    }

    .underHeader__Left {
    display: flex;
    flex-direction: row;
    flex: 3;
    background-color: green;
    } */

   /* .underHeader__Right{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #403D39;
    }

     .footer{
    display: flex;
    }




/* Targetting TesxtAreas */
/* textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #CCC5B9;
    font-size: 16px;
    resize: none;
  }



/* Targetting Buttons Class's */
/* button{
display:flex;
    padding: 5px 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #EB5E28;
    border: none;
    border-radius: 7px;
    border: #252422 1px solid;
    display: inline-block;
  } */

  /* .button:hover {background-color: #e2a602}
  
  .button:active {
    background-color: #ac6a2d;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    border-radius: 10px;
  } */
    


/* Controls our Main title  */
/* h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    align-items: center;
    justify-content: center;
    font-family: "Patua One", serif;
    margin: 0em;
    padding: 0em;
    text-shadow:1px 1px rgb(233, 176, 91);
    text-align: center;
 

}    */
/* Friends list title  */
/* h6{
    color: purple;
    font-size: 20px;
    align-items: center;
    justify-content: center;
} */
/*This is the control for header inside the tasks,events,articles  */
/* .SectionsHeaders{
    color: blue;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    opacity: 100%; 
    color: black;
    text-shadow:1px 1px (#252422);

}  */